.formation {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.formation .caption {
  color: #e0e0e0;
}

.formation_text {
  position: relative;
  top: 10%;
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #3d3d3d;
}

.formatrion_text strong {
  color: #141414;
}
