.formation {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.formation .subtitle {
  color: #e0e0e0;
  max-width: 4ch;
}

.formation_text {
  position: relative;
  top: 5%;
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #3d3d3d;
}

.formatrion_text strong {
  color: #141414;
}

.course_list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 60ch;
}

.course {
  flex: 1;
  background-color: #3d3d3d;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.course_name {
  font-size: 1rem;
  line-height: 1.4;
  position: relative;
  color: #f5f5f5;
}

.course_date {
  font-size: 0.875rem;
  color: #b8b8b8;
  margin-bottom: 20px;
}

.course_date_responsive {
  font-size: 0.875rem;
  color: #b8b8b8;
  margin-bottom: 20px;
  display: none;
}

.course_description {
  font-size: 0.875rem;
  color: #b8b8b8;
  margin-bottom: 20px;
}

.course_institution {
  font-size: 1.125rem;
  color: #f5f5f5;
}

@media (max-width: 1024px) {
  .formation .subtitle {
    font-size: 6rem;
  }

  .formation_text {
    font-size: 1.3rem;
    top: 0%;
    margin-bottom: 30px;
  }
  .course_list {
    max-width: 50ch;
  }

  .course {
    padding: 10px;
  }

  .course_name {
    font-size: 0.9rem;
    line-height: 1.2;
  }

  .course_date {
    font-size: 0.775rem;
    margin-bottom: 10px;
  }

  .course_description {
    font-size: 0.775rem;
  }

  .course_institution {
    font-size: 1.025rem;
  }
}

@media (max-width: 768px) {
  .formation {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .formation .subtitle {
    font-size: 6rem;
  }

  .formation_text {
    font-size: 1.3rem;
    top: 0%;
    margin-bottom: 30px;
  }
  .course_list {
    max-width: 50ch;
  }

  .course {
    padding: 10px;
  }

  .course_name {
    font-size: 0.7rem;
    line-height: 1;
  }

  .course_date {
    font-size: 0.675rem;
  }

  .course_description {
    font-size: 0.675rem;
    flex: 1;
  }

  .course_institution {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .formation {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .formation .subtitle {
    font-size: 3.5rem;
    max-width: 11ch;
  }

  .formation_text {
    font-size: 1rem;
    top: 0%;
    margin-bottom: 5px;
  }
  .course_list {
    max-width: 60ch;
  }

  .course {
    padding: 10px;
  }

  .course_name {
    font-size: 0.8rem;
    line-height: 1;
  }

  .course_date {
    font-size: 0.675rem;
  }

  .course_description {
    font-size: 0.675rem;
  }

  .course_institution {
    font-size: 0.8rem;
  }
}

@media (max-width: 420px) {
  .formation {
    padding: 20px;
  }

  .formation .subtitle {
    font-size: 2.25rem;
    max-width: none;
    flex: 1;
  }

  .formation_text {
    top: 0%;
    font-size: 0.625rem;
    max-width: 60ch;
    line-height: normal;
    margin-bottom: 5px;
  }

  .course_list {
    max-width: 60ch;
  }

  .course {
    padding: 10px;
  }

  .course_name {
    font-size: 0.625rem;
    line-height: normal;
    max-width: 22ch;
    margin-bottom: 10px;
    flex: 1;
  }

  .course_date {
    font-size: 0.375rem;
    display: flex;
  }

  .course_description {
    font-size: 0.5rem;
  }

  .course_institution {
    font-size: 0.5rem;
  }
}
