.header {
  max-width: 1200px;
  padding: 32px 12px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_menu {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.header_menu a {
  font-size: 1.125rem;
  line-height: 1.3rem;
  padding: 10px 20px;
  text-decoration: none;
  color: #141414;
  display: block;
}

.logo_responsivo {
  display: none;
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }
  .header a {
    background: #f5f5f5;
    border-radius: 4px;
  }
}

@media (max-width: 480px) {
  .header {
    flex-direction: unset;
    padding: 16px 20px 0px;
    gap: 10px;
  }

  .header_menu {
    display: flex;
    gap: 15px;
    justify-content: center;
    display: flex;
  }

  .header_menu a {
    font-size: 0.5625rem;
    line-height: normal;
    padding: 5px 10px;
  }

  .logo {
    display: none;
  }

  .logo_responsivo {
    display: block;
  }
}
