.introduction {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
  position: relative;
}

.introduction h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 1.875rem;
}

.introduction::before {
  content: "";
  display: block;
  width: 12vw; /* Largura proporcional ao viewport */
  height: 40vh; /* Altura proporcional ao viewport */
  background: url(../img/detalhe.svg) no-repeat;
  background-size: contain; /* Garante que a imagem se ajuste */
  position: absolute;
  top: 20%; /* Posição relativa ao contêiner */
  left: 37%; /* Posição relativa */
}

.introduction p {
  font-size: 1.5rem;
  color: #525252;
}

@media (max-width: 1024px) {
  .introduction h1 {
    font-size: 3rem;
  }
  .introduction::before {
    width: 15vw;
    height: 47vh;
    top: 22%;
    left: 38.5%;
  }
}

@media (max-width: 768px) {
  .introduction {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .introduction::before {
    width: 3vw;
    height: 50vh;
    top: 23%;
    left: 50%;
  }
  .introduction h1 {
    font-size: 3rem;
  }
}

@media (max-width: 480px) {
  .introduction {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .introduction::before {
    width: 2.9vw;
    height: 39vh;
    top: 20%;
    left: 49%;
  }
  .introduction h1 {
    font-size: 1.8rem;
  }
}
