.introduction {
  max-width: 75rem;
  padding: 2.5rem 1.25rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 6.25rem;
  align-items: center;
  position: relative;
}

.introduction h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 1.875rem;
}

.introduction::before {
  content: "";
  display: block;
  width: 8.125rem;
  height: 20.625rem;
  background: url(../img/detalhe.svg) no-repeat;
  position: absolute;
  top: 135px;
  left: 460px;
}

.introduction p {
  font-size: 1.5rem;
  color: #525252;
}
